<mat-card>
  <mat-card-title>
    <mat-icon color="primary">list</mat-icon>
    Buscador de hoteles
  </mat-card-title>
  <div class="container">
    <form>
      <mat-form-field>
        <mat-label>Hotel Chain</mat-label>
        <mat-select (selectionChange)="manageHotelChainSelected($event)">
          <mat-option
            *ngFor="let chain of matSelectHotelChain"
            [value]="chain.value">
            {{chain.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <button type="submit" mat-mini-fab color="primary" (click)="searchTicketByHotelChain();"
            [disabled]="!isHotelChainSelected">
      <mat-icon>search</mat-icon>
    </button>
    <button type="submit" mat-mini-fab color="warn" (click)="resetFilter();"
            [disabled]="!isHotelChainSelected">
      <mat-icon>autorenew</mat-icon>
    </button>
  </div>
</mat-card>
<div *ngIf="hasHotelsFound">
  <mat-card>
    <div class="left">{{hotelChain.name}}</div>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <mat-table [dataSource]="dataSourceHotel" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef fxFlex="5%">#</mat-header-cell>
          <mat-cell *matCellDef="let i = index" fxFlex="5%"> {{i + 1}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef fxFlex="28%"> Hotel</mat-header-cell>
          <mat-cell *matCellDef="let item" fxFlex="28%"> {{item.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="rooms">
          <mat-header-cell *matHeaderCellDef fxFlex="28%"> Habitaciones</mat-header-cell>
          <mat-cell *matCellDef="let item" fxFlex="28%">
            <button (click)="showRooms(item)"
                    mat-button mat-icon-button matSuffix>
              <mat-icon color="primary">remove_red_eye</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedHotelColumns"></mat-header-row>
        <mat-row *matRowDef="let item; columns: displayedHotelColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="hasRoomsFound">
  <mat-card>
    <div class="left">{{hotelSelected.name}}</div>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <mat-table [dataSource]="dataSourceRoom" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef fxFlex="5%">#</mat-header-cell>
          <mat-cell *matCellDef="let i = index" fxFlex="5%"> {{i + 1}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef fxFlex="28%"> Habitación</mat-header-cell>
          <mat-cell *matCellDef="let item" fxFlex="28%"> {{item.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef fxFlex="28%"> Precio</mat-header-cell>
          <mat-cell *matCellDef="let item" fxFlex="28%"> {{item.price}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="reserve">
          <mat-header-cell *matHeaderCellDef fxFlex="28%"> Reservar</mat-header-cell>
          <mat-cell *matCellDef="let item" fxFlex="28%">
            <button (click)="showDatePicker(item)"
                    mat-button mat-icon-button matSuffix>
              <mat-icon color="primary">schedule</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedRoomColumns"></mat-header-row>
        <mat-row *matRowDef="let item; columns: displayedRoomColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="isDatePickerShown">
  <mat-card>
    <div class="left">{{hotelSelected.name}} - {{roomSelected.name}} ({{roomSelected.price}} €/hora)</div>
    <mat-form-field class="datepicker">
      <input matInput [matDatepicker]="picker" placeholder="Elige una fecha" (dateChange)="showFreeHours($event.targetElement.value)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div *ngIf="hasFreeHours">
      <mat-form-field>
        <mat-label>Selecciona hora libre</mat-label>
        <mat-select>
          <mat-option *ngFor="let hour of hoursFree" [value]="hour" (onSelectionChange)="hourChange()">
            {{hour}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="hasFreeHours && hourSelected">
      <mat-form-field>
        <mat-label>Selecciona duracion</mat-label>
        <mat-select>
          <mat-option *ngFor="let duration of durationSelect" [value]="duration" (onSelectionChange)="durationChange()">
            {{duration}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="hasFreeHours && hourSelected && durationSelected">
      <button mat-button color="primary" (click)="preview()">
        <mat-icon>remove_red_eye</mat-icon> Preview
      </button>
    </div>
  </mat-card>
</div>

<div *ngIf="hasReservationsFound">
  <app-summary-reservation [reservation]="selectedReservation"></app-summary-reservation>
</div>
