<mat-card>
  <mat-card-title>
    <mat-icon color="primary">list</mat-icon>
    Buscador de hoteles
  </mat-card-title>
  <div class="container">
    <form>
      <mat-form-field>
        <mat-label>Hotel Chain</mat-label>
        <mat-select (selectionChange)="manageHotelChainSelected($event)">
          <mat-option
            *ngFor="let chain of matSelectHotelChain"
            [value]="chain.value">
            {{chain.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <button type="submit" mat-mini-fab color="primary" (click)="searchTicketByHotelChain();"
            [disabled]="!isHotelChainSelected">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</mat-card>
