<mat-dialog-content>
  <mat-form-field>
    <input matInput type="number" placeholder="Insert reservation code"
           [(ngModel)]="reservation.code"
           required/>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button mat-dialog-close color="accent"
          (click)="check()"
          [disabled]="invalid()">
    <mat-icon>check_circle</mat-icon>
    Check
  </button>
</mat-dialog-actions>
