<mat-toolbar color="primary">
  <img class="icon-page" src="../assets/img/byhoursicon2.png"/>
  <button (click)="login()" mat-button>
    <mat-icon>person_outline</mat-icon>
    <span>Login</span>
  </button>
</mat-toolbar>
  <h3>El descanso que necesitabas</h3>
  <mat-tab-group animationDuration="2000ms">
    <mat-tab label="Los mejores hoteles">
      <div class="parent">
        <img class="image" mat-card-image src="../assets/img/hotel-bed.jpg" alt="hours">
        <div class="item">
          <mat-list>
            <mat-list-item> Tenemos asociadas las mejores cadenas hoteleras. </mat-list-item>
            <mat-list-item> Ofrecemos un servicio seguro y de calidad. </mat-list-item>
            <mat-list-item> Nuestro usuarios nos avalan. </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Reservas">
      <div class="parent">
        <img class="image" mat-card-image src="../assets/img/hours.jpg" alt="hours">
        <div class="item">
          <mat-list>
            <mat-list-item> Elige tu hotel favorito. </mat-list-item>
            <mat-list-item> Reserva tu habitación las horas que necesites. </mat-list-item>
            <mat-list-item> Realiza el checking en el hotel. </mat-list-item>
            <mat-list-item> Disfruta de tu estancia. </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Equipo">
      <div class="parent">
        <img class="image" mat-card-image src="../assets/img/team.jpg" alt="hours">
        <div class="team">
          <mat-list>
            <mat-list-item> Tomás Muñoz - Product Owner.</mat-list-item>
            <mat-list-item> Jose Lorenzo Moreno - Scrum Master.</mat-list-item>
            <mat-list-item> Daniel Perez. </mat-list-item>
            <mat-list-item> Roberto Martin. </mat-list-item>
            <mat-list-item> Vanesa Paniego. </mat-list-item>
            <mat-list-item> Alejandro Puebla. </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

