<mat-toolbar color="primary">
  <img class="icon-page" src="../assets/img/byhoursicon2.png"/>
  <span>
    <button (click)="logout()" mat-button>
      <span>{{username}}</span>
      <mat-icon>person</mat-icon>
      <span>Logout</span>
    </button>
    <button [matMenuTriggerFor]="menu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </span>
</mat-toolbar>
<mat-menu xPosition="before" #menu="matMenu">
  <button *ngIf="isAdmin()" mat-menu-item [matMenuTriggerFor]="settings">
    <mat-icon>settings</mat-icon>
    <span>Admin</span>
  </button>
  <button mat-menu-item (click)="customers()">
    <mat-icon>account_circle</mat-icon>
    <span>Users</span>
  </button>
  <button mat-menu-item (click)="checkReservationCode()">
    <mat-icon>check_circle</mat-icon>
    <span>Check reservation code</span>
  </button>
  <button mat-menu-item (click)="confirmReservation()">
    <mat-icon>check_circle</mat-icon>
    <span>Confirm reservation</span>
  </button>
</mat-menu>
<mat-menu #settings="matMenu">
  <button mat-menu-item (click)="deleteDb()">Delete Database</button>
  <button mat-menu-item (click)="seedDb()">Seed Database</button>
</mat-menu>
<div class="content">
  <div class="content-display">
    <app-reservations></app-reservations>
  </div>
</div>
<router-outlet></router-outlet>
